@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CreateUserInputModel;

@{
}
<h1 style="padding-top: 20px; padding-bottom: 20px";>Create a New User</h1>
@using (Html.BeginForm("Create", "User")){
    <div class="mb-3">
    <label asp-for="FirstName" class="form-label">FirstName</label>
    <input asp-for="FirstName" class="form-control">
    <span asp-validation-for="FirstName" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="LastName" class="form-label">LastName</label>
    <input asp-for="LastName" class="form-control">
    <span asp-validation-for="LastName" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Email" class="form-label">Email</label>
    <input asp-for="Email" class="form-control">
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Password" class="form-label">Password</label>
    <input asp-for="Password" class="form-control">
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>
  <div class="text-danger">
    @Html.ValidationMessage("CustomError")
  </div>
  <button type="submit" style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-primary">Create</button>

  <div>
    <a asp-action="Index">Back to List</a>
</div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}