@{
    ViewData["Title"] = "Ropey DVD - Home";
}

<div class="text-center">
    <h1 style="margin: 50px;" class="display-4">Ropey DVD's Dashboard</h1>
   <body>
       <div class="container">
           <div class="row">

<div class="col" style="margin-bottom: 10px;">
       <div class="card" style="height: 25rem; width: 15rem;">
        <img class="card-img-top" style="padding: 30px" src=
        "https://cdn-icons-png.flaticon.com/512/1909/1909819.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Search a specific DVD by entering Actor's last name.</p>
        <a href="/ActorDVD" class="btn btn-primary">Search a specific DVD</a>
        </div>
       </div>
       </div>

<div class="col" style="margin-bottom: 10px;">
       <div class="card" style="height: 25rem; width: 15rem;">
        <img class="card-img-top" style="padding: 30px" src="https://cdn-icons-png.flaticon.com/512/1694/1694735.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Search availanle DVD's of specific Actors.</p>
        <a href="/DVDonShelves" class="btn btn-primary">Available DVD's</a>
        </div>
       </div>
</div>

<div class="col" style="margin-bottom: 10px;">
       <div class="card" style="height: 25rem; width: 15rem;">
        <img style="padding: 30px" class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/1041/1041014.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">View loan history of a specific user of the past 31 days. </p>
        <a href="/MemberLoans" class="btn btn-primary">Member's Loan History</a>
        </div>
       </div>
</div>

<div class="col" style="margin-bottom: 10px;">
       <div class="card" style="height: 25rem; width: 15rem;">
        <img style="padding: 30px" class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/2505/2505871.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Detailed information of all the available DVD's in the shop.</p>
        <a href="/DVDDetails" class="btn btn-primary">DVD Details</a>
        </div>
       </div>
</div>


<div class="col" style="margin-bottom: 10px;">
       <div class="card" style="height: 25rem; width: 15rem;">
        <img style="padding: 30px" class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/7186/7186732.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Enter a Member number for viewing their latest loan information.</p>
        <a href="/DVDLoan" class="btn btn-primary">Latest Loan Information</a>
        </div>
       </div>
</div>

<div class="col" style="margin-bottom: 10px;">
        <div class="card" style="height: 25rem; width: 15rem;">
        <img style="padding: 30px" class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/172/172120.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Provide Member and DVD information for registering a new loan.</p>
        <a href="/Loans/Create" class="btn btn-primary">New Loan</a>
        </div>
       </div>
</div>

          <div class="col" style="margin-bottom: 10px;">
        <div class="card" style="height: 25rem; width: 15rem;">
        <img style="padding: 30px" class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/415/415086.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Edit loan regarding information as well as viewing loan details.</p>
        <a href="/Loans" class="btn btn-primary">Edit Loans</a>
        </div>
       </div>
       </div>

        <div class="col" style="margin-bottom: 10px;">
        <div class="card" style="height: 25rem; width: 15rem;">
        <img style="padding: 30px" class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/6596/6596910.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">View all the membership holders of the shop and their loan information.</p>
        <a href="/MemberDetails" class="btn btn-primary">Member Information</a>
        </div>
       </div>
       </div>

       </div>
       </div>
   </body>
</div>
